.navbar-fixed-top .container-right {
	margin-left: 0px;
	float: right;
}

.content {
	margin-top: 50px;
}

.btn-nav {
    margin-right: 10px;
    height: 34px;
}

.nav-right {
	float: right;
}

#filename {
	max-width: 139px;
    float: right;
    margin-right: -1px;
}

.control-panel {
	margin-top: 8px;
}

#imageView {
	position: absolute;
}

#imageTemp {
	position: absolute;
}

#tool {
	float: left;
}

#colors_sketch {
	width: 5px !important; 
	border: 1px solid black;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
}

#myCanvasPaint {
	position: absolute;
	top: 49px;
    left: 4px;
}

#tempCanvas {
	display: none;
}

#tool {
	margin-left: 10px;
	margin-top: 4px;
}

.color-yellow {
	background-color: #f3d011 !important;
}

.color-red {
	background-color: #f33411 !important;
}

.color-black {
	background-color: #000 !important;
}

.color-switch {
	height: 24px;
	border-radius: 16px;
	margin-left: 1px;
}

.tool-icon {
	height: 25px;
}


