#mainPopup {
		padding: 10px;
		height: auto;
		width: 220px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
    margin-bottom: 0px;
	}
	h1 {
		font-size: 2em;
	}

.nav>li>a>img {
      max-width: 14px;
      margin-right: 10px;
      /* padding-right: 7px; */
  }
