.mainPopup {
	padding: 10px;
	height: auto;
	width: 350px;
	min-height: 180px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
	margin-bottom: 0px;
}
h1 {
	font-size: 2em;
}

.nav>li>a>img {
	max-width: 14px;
	margin-right: 10px;
	/* padding-right: 7px; */
}

legend {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}

.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn.first {
	margin-top: 30px;
}

label {
	display: inline;
	font-weight: normal;
}

fieldset {
	margin-top: 25px;
}

#system {
	margin-top: 10px;
}

#proxyForm a {
	font-size: 12px;
}

#fixed_servers input {
	display: inline;
}

select {
	display: block;
	margin-bottom: 5px;
	margin-left: 55px;
}

.col-xs-10 {
	margin-bottom: 5px;
}

.nav-tabs>li.active>a {
	color: #1b82da  !important;
	background-color: none;
	border: none !important;
}

.nav-tabs>li>a {
	border: none !important;
}

.nav-tabs {
	border: none;
}

li.active>a:focus {
	color: #337ab7;
}

.nav-link {
	color: #a6a8ab;
}

#resultWhiteSpaces {
	font-weight: bold;
}



#string-tab p {
	margin-top: 8px;
}

.inline-btn {
	margin-top: 0px;

	min-width: 92px;
}

#resultGenerator {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 320px;
	float: left;
}

#clipboard {
	float: left;
	height: 34px;
	width: 35px;
	margin-left: -2px;
}

#clipboard img {
	width: 17px;
	right: 3px;
    position: relative;
}

.generate {
	margin-top: 30px;
}

#size {
	min-width: 35px;
	height: 34px;
}

#textLength {
	max-width: 40px;
}

#random-field {
	height: 35px;
}

.generate-input {
	margin-top: 0px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}

#string {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
}

#edit-number {
	width: 57px;
}

.tool-icons img{
	width: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}

.dropdown-menu .input-value {
	width: 100%;
	margin-top: 0px;
	cursor: default;
}

.dropdown-menu .input-group-btn {
	width: 100% !important;
}

.clipboard-left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	margin-left: 0px;
	margin-top: 0px;
}

.input-right {
	width: 100%;
    padding-right: 2px;
}
